go 1.19

use (
	./
	./containers/debug/fail
	./containers/debug/log
	./containers/debug/wait
	./containers/tasks/debug
	./containers/extensions/cron
	./containers/extensions/interval
	./examplePipelines/go/dag
	./examplePipelines/go/objects
	./examplePipelines/go/secrets
	./examplePipelines/go/simple
	./examplePipelines/go/script
	./examplePipelines/go/commonTask
)
