go 1.19

use (
	./
	./containers/debug/fail
	./containers/debug/log
	./containers/debug/wait
	./containers/tasks/debug
	./containers/triggers/cron
	./containers/triggers/interval
	./examplePipelines/go/dag
	./examplePipelines/go/objects
	./examplePipelines/go/secrets
	./examplePipelines/go/simple
	./examplePipelines/go/trigger
)
